<body background="https://epicplugins.com/wp-content/uploads/2015/05/dark-head-Tibet-warriors-monk-martial-arts-meditation-black-background-shaolin-_15982-58.jpg"></body>

		  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <a class="sign_up_btn">Sign Up</a>
          <a class="log_in">Log In</a>
      </ul>
    </div>
  </nav>
        




<div class="modal js-sign-up-modal">
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="modal-content">
      <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name%><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>


  <div class="modal-footer">
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </div>
   <% end %>
</div>

<div class="modal js-login-modal">
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="modal-content">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
  </div>

      <% if devise_mapping.rememberable? -%>
    <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>
      <% end -%>

    
      
    </div>
    <div class="modal-footer">
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
      </div>
    <% end %>
    </div>

 <ul id="slide-out" class="side-nav">
    <li><div class="userView"></div></li>
      <ul>
        <% @the_places.each do |place|%>
          <li>
            <a href="/countries/<%= place.id %>">
            <%=place.name%> 
              </a>
          </li>
        <% end %>
    </ul>
</ul>
  <button data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></button>
        

    
  