<body background="/assets/jumpkick.jpg" id="budda"></body>


<nav>
  <div class="nav-wrapper">
    <div class="row">
     <a href="#" class="brand_logo">Roaming Ronin Travel</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>  <a  id="fb_btn"target="_blank" title="follow me on facebook" href="https://www.facebook.com/Ronin-Travel-644982882327061/"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a></li>
        <li><a id="tw_btn" target="_blank" title="follow me on Twitter" href="https://twitter.com/Ronin_Travel"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a></li>
      <% if current_user %>
        <%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
      <% else %>
      <li><a href="sass.html" class="sign_up_btn">Sign Up</a></li>
        <li><a href="badges.html" class="log_in">Log In</a></li>
      <% end -%>
      </ul>
    </div>
  </div>
</nav>
       
<ul id="slide-out" class="side-nav">
    <img class="background" width="100%" src="http://f.tqn.com/y/martialarts/1/W/3/4/-/-/karate_martial_arts_137867517.jpg">
        <ul>
          <% @the_places.each do |place|%>
            <li>
              <a href="/countries/<%= place.id %>" id="name_color">
                <%=place.name%> 
              </a>
          </li>
        <% end %>
    </ul>
</ul>

<div class="modal js-sign-up-modal">
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="modal-content">
      <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name%><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>


  <div class="modal-footer">
    <div class="actions">
      <button id="sign_up_sbmt" class="btn waves-effect waves-light"><%= f.submit "Sign up" %></button>
    </div>
  </div>
   <% end %>
</div>

<div class="modal js-login-modal">
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="modal-content">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
  </div>

      <% if devise_mapping.rememberable? -%>
    <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>
      <% end -%>
</div>
  <div class="modal-footer">
    <div class="actions">
      <button id="log_in_sbmt" class="btn waves-effect waves-light"><%= f.submit "Log in" %></button>
        </div>
    </div>
  <% end %>
</div>
  <a href="#" data-activates="slide-out" class="button-collapse home_page_slide"><i class="material-icons">Countries of Instruction</i></a>


<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12">
           
                
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 VampiroTech
           </div>
          </div>
</footer>
