<ul>
		<% @the_arts.each_with_index do |art, index| %>
	<li>
		<br>
			<strong><%= art.name %></li></strong>
		<br>
			<%= art.description %>
		<br>
		<br>
			<%= @packages[index].school %>
		<br>
			<%= @packages[index].address %>
		<br>
			<%= @packages[index].phone %>
		<br>
			<a href="<%= @packages[index].website %>">Website</a>      
		<br>

			<%= link_to art.name, calendar_view_path(@packages[index].id) %>
	</li>
		<% end %>	
</ul>		




