<body background="http://cdn.pcwallart.com/images/black-fabric-texture-wallpaper-wallpaper-3.jpg">


<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Arts</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%= link_to(destroy_user_session_path, method: :delete) do %>
        <button id="log_out_btn">Log Out</button>
       <% end %>
      </ul>
    </div>
  </nav>
        




<div class="container">
	<div class="row">
		<% @the_arts.each_with_index do |art, index| %>
	        <div class="col s12 m12">
	          <div class="card black darken-1">
	           	<div class="card-image">
	              <img src="<%= art.avatar.url %>">
	            </div>
	              <span class="card-title"><%= art.name %></span>
	            <div class="card-content white-text">
	              	<p>
	              		<br>
							<%= art.description %>
						<br>
						<br>
							<%= @packages[index].school %>
						<br>
							<%= @packages[index].address %>
						<br>
							<%= @packages[index].phone %>
						<br>
					</p>
	            </div>
	            <div class="card-action">
	              <a href="<%= @packages[index].website %>">School Website</a> 
	              <%= link_to art.name, calendar_view_path(@packages[index].id) %>
	            </div>
	          </div>
	        </div>
		<% end %>	
	</div>
</div>
